@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:focus {
  outline: 0;
  outline-offset: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2vw;
  height: 100vh;
  padding: 5vw;
  padding-top: 0;
  color: white;
  text-shadow: black 0 0 8px; 
  background-image: url("../assets/overlay.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  transition: background-image 1s ease-in-out;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

.left_buttons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-right: 1vw;
}

button {
  border: none;
  background-color: rgba(128, 133, 136, 0.5);
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: center;
  border-radius: 5px;
  color: white;
}

.left_item {
  margin-right: 0.5rem;
  width: 2.9vw;
  height: 2.4vw;
}

.left_item:hover {
  background-color: rgba(180, 184, 187, 0.4);
  opacity: 0.8;
  transition-duration: 0.3s;
  cursor: pointer;
}

#btn_reset {
  background-color: rgba(180, 184, 187, 0.4);
  background-image: url("../assets/icons/reset_back.png");
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.reset_img {
  animation: spin 1s linear 0s; 
}

#select_language {
  border: none;
  background-color: rgba(128, 133, 136, 0.5);
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: center;
  border-radius: 5px;
  color: white;
}

select option {
  color: black;
  border: none;
  border-radius: 5px;
}

.temperature_format {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

input[type=radio] {
  display: none;
}

input[type=radio]+label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgba(128, 133, 136, 0.5);
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: center;
  color: white;
  margin-right: 0;
  border-radius: 5px 0 0 5px;
  border-right: solid 1px rgba(128, 133, 136, 0.5);
  width: 2.4vw;
  height: 2.4vw;
}

input[type=radio]:checked+label {
  background-image: none;
  outline: 0;
  background-color: rgba(180, 184, 187, 0.4);
}

input[type=radio]:hover+label {
  opacity: 0.8;
  transition-duration: 0.3s;
  cursor: pointer;
}

#btn_fahrenheit+label {
  border-radius: 0 5px 5px 0;
  border-right: none;
}

#weather_city_form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

#city {
  width: 18vw;
  height: 2.4vw;
  padding: 0 1vw;

  background: rgba(76, 82, 85, 0.4);
  border: 1px solid rgba(228, 227, 227, 0.2);
  border-right: none;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;

  font-weight: normal;
  font-size: 1vw;
  display: inline-flex;
  align-items: center;
  color: #FFFFFF;
}

#city::placeholder {
  color: white;
}

#voice {
  width: 2.4vw;
  height: 2.4vw;

  background: rgba(76, 82, 85, 0.4);
  background-image: url("../assets/icons/voice.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: inherit;
  border: 1px solid rgba(228, 227, 227, 0.2);
  border-left: none;
  box-sizing: border-box;
}

#voice:hover {
  transition-duration: 0.3s;
  cursor: pointer;
}

#submit_city {
  width: 8vw;
  height: 2.4vw;
  padding: 0 1rem;

  border: none;
  background: rgba(104, 108, 110, 0.5);
  border-radius: 0 5px 5px 0;

  font-weight: bold;
  font-size: 1vw;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

#submit_city:hover {
  background: rgba(66, 69, 70, 0.5);
  opacity: 0.8;
  transition-duration: 0.3s;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 1rem;
}

.weather_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
}

.info_group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#current_location {
  font-weight: bold;
  font-size: 3.5vw;
  text-transform: uppercase;
}

#current_location {
  font-weight: bold;
  font-size: 3.5vw;
  text-transform: uppercase;
}

.date_time {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 0.5rem;

  font-weight: 600;
  font-size: 2vw;
}

#date {
  margin-right: 1rem;
}

.today {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

#today_temperature {
  width: 50%;
  font-size: 15vw;
  font-weight: bold;
}

.today_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 60%;
  height: 100%;
}

.today_info_icon {
  height: 50%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 10vw;
}

.today_info_main {
  height: 50%;
}

.today_info_main ul {
  list-style: none;
  font-weight: 700;
}

.today_info_main ul li {
  margin-bottom: 0.5rem;
}

.next_days {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.next_days h2 {
  font-size: 1.7vw;
}

.next_day_info {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
}

.next_day_temperature {
  font-size: 4vw;
}

#first_day_icon {
  font-size: 4vw;
}

#second_day_icon {
  font-size: 4vw;
}

#third_day_icon {
  font-size: 4vw;
}

.map_section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 5rem; 
}

#map {
  position: relative;
  top: 0; 
  bottom: 0; 
  width: 24vw; 
  height: 24vw;
  border-radius: 25px;
}

#location {
  margin-top: 1rem;
}

#latitude {
  font-weight: normal;
  font-style: italic;
  font-size: 2vw;
  text-align: right;
}

#longitude {
  font-weight: normal;
  font-style: italic;
  font-size: 2vw;
  text-align: right;  
}